.content2 {
    display:flex;
	justify-content: space-between;
}
.info {
    margin: 100px;
    justify-content: flex-start;
}
.portfolio {
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
    margin-right: 150px;
}
img {
    margin-top: 20px;
}
/* sizes of images */
.fi {
    width: 300px;
    height: 200px;
}
.si {
    width: 200px;
    height: 200px;
}
.ti{
    width: 540px;
    height: 287px;
}
